@tailwind base;
@tailwind components;
@tailwind utilities;


.container_main{
  max-width: 90%;
  margin-inline:auto ;
}

.cart{
  position: relative;
}

.cart::after{
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color:#e31616 ;
  right: -3px;
  top: -3px;
  border-radius: 50%;
}

.dip_pix{
  margin-left: 5px;
  margin-right: 5px;
}
